img{
    width: 200px;
    height: 200px;
    align-items: center;

    
}
body{
    background-color: lightblue;
}
content{
    color: red;
    gap: 1cm;
}
h1{
    color: hotpink;
    font-size: 20px;
    align-items: center;
}
p{
    color: green;
    font-size: 10px;
    font-style: italic;
} 